@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&display=swap');*{
    @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
    margin: 0;
    padding: 0;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;    /* font-weight: 800; */
    color: #ffffffdd;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
}
.background{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* overflow: hidden; */
    z-index: -1;
}
::-webkit-scrollbar{
    display: none;
}
.background > div{
    height: calc(5vw - .1vw);
    /* height:; */
    width: calc(5vw - .1vw);
    /* width: ; */
    border: 0.05vw solid #ffffff66;
}


.header{
    position: absolute;
    top: 0;
    height: calc(5vw - 0.1vw);
    width: 100vw;
    background-color: #000000aa;
    backdrop-filter: invert();
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1vw solid #ffffff99;
    border-bottom: 0.1vw solid #ffffff99;
}
.header p{
    height: auto;
    width: auto;
    color: #ffffffcc;
    padding: 0 0 0 4vw;
    letter-spacing: 3.9vw;
    font-size: 2vw;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: 600;
}

.name{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(10vw - 0.05vw);
    left: calc(5vw - 0.05vw);
    height: calc(20vw - 0.1vw);
    width: calc(50vw - calc(2vw + 0.05vw));
    font-size: 2.5vw;
    background-color: #000000cc;
    /* backdrop-filter: invert(); */
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    /* background-color: #00000055; */
    border: .15vw solid #ffffff99;
}
.name p{
    height: calc(10vw - 0.1vw);
    width: 100%;
    text-align: left;
    font-size: 2vw;
    border-bottom: 0.15vw solid #ffffff77;
}
.name h2{
    height: calc(10vw - 0.1vw);
    /* width: 95%; */
    text-align: left;
    word-spacing: 3vw;
    font-size: 4vw;
    letter-spacing: 1.5vw;
    /* margin-left: 14vw;
    margin-right: 1vw; */
}

.about{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(35vw);
    left: calc(5vw - 0.05vw);
    height: calc(10vw - 0.08vw);
    width: calc(50vw - 0.05vw);
    background-color: #000000cc;
    border: .15vw solid #ffffff99;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.about p{
    flex: 0 0 auto;
    font-size: 1.3vw;
    text-align: justify;
    padding: 0 3vw;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: 500;
    /* color: #000000dd; */
}

.profile_photo{
    position: absolute;
    top: calc(10vw - 0.05vw);
    left: calc(60vw);
    height: calc(35vw - 0.05vw);
    width: calc(35vw - 0.1vw);
    font-size: 2.5vw;
    background-color: #ffffff77;
    border: 0.15vw solid #ffffff99;
    overflow: hidden;
}
.profile_photo img{
    position: relative;
    top: calc(2.5vw - 0.05vw);
    left: calc(2.5vw - 0.05vw);
    height: calc(30vw);
    width: calc(30vw);
    background-color: #00000055;
    border-radius: 15vw;
    border: 0.15vw solid #ffffff99;
    filter: saturate(0.3);
}

.profession{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:calc(50vw);
    left: calc(5vw - 0.05vw);
    height: calc(10vw - 0.12vw);
    width: calc(90vw - 0.05vw);
    font-size: 2.5vw;
    background-color: #000000cc;
    /* justify-content: space-around    ; */
    align-items: end;
    border: 0.15vw solid #ffffff99;
}
.profession h1{
    flex: 0 0 calc(35vw - 0.75vw);
    /* width: 100%; */
    text-align: left;
    height: calc(10vw - 0.15vw);
    font-size: 10vw;
    letter-spacing: 1.75vw;
    padding: 0 0 0 5.75vw;
}
.profession h2{
    flex: 0 0 calc(50vw - 1.25vw);
    text-align: left;
    height: calc(5vw - 0.1vw);
    letter-spacing: 1.75vw;
    border-top: 0.15vw solid #ffffff99;
    padding: 0 0 0 1.2vw;
}
.profession h2:nth-of-type(2){
    position: relative;
    top: -5vw;
    left: -50vw;
    border-top:none;
    /* background-color: #fff; */
}