*{
    margin: 0;
    padding: 0;
}
.background{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
::-webkit-scrollbar{
    display: none;
}
.background > div{
    height: calc(5vw - 2px);
    width: calc(5vw - 2px);
    border: 1px solid;
}